# Different Settings for training, testing developing and other settings
[param]
path_train : data/train.txt
path_dev : data/dev.txt
path_test : data/test.txt

# stop_words
stop_words: data/stopwords.txt

# train labels
train_5500: data/train_5500.label.txt

# utilities
acc_bow_coase: src/bow_Utilities/acc_bow_COASE.txt
acc_bow_fine: src/bow_Utilities/acc_bow_fineclass.txt
bow_coase_pth: src/bow_Utilities/bow_COASE.pth
bow_fine_pth: src/bow_Utilities/bow_fineclass.pth
f1_bow_fine: src/bow_Utilities/f1_bow_fineclass.txt
f1_bow_coase: src/bow_Utilities/f1_bow_COASE.txt
loss_bow_coase: src/bow_Utilities/loss_bow_COASE.txt
loss_bow_fine:src/bow_Utilities/loss_bow_fineclass.txt

#model
model : bow

#output
output: data/bow_output.txt

#learning rate
lr: 2e-2

# batch size
batch : 545
