# Different Settings for training, testing developing and other settings
[param]
path_train : data/train.txt
path_dev : data/dev.txt
path_test : data/test.txt

# stop_words
stop_words: data/stopwords.txt

# train labels
train_5500: data/train_5500.label.txt

# utilities
acc_bilstm_coase: src/biLSTM_Utilities/acc_biLSTM_COASE.txt
acc_bilstm_fine: src/biLSTM_Utilities/acc_biLSTM_fineclass.txt
bilstm_coase_pth: src/biLSTM_Utilities/biLSTM_COASE.pth
bilstm_fine_pth: src/biLSTM_Utilities/biLSTM_fineclass.pth
f1_bilstm_fine: src/biLSTM_Utilities/f1_biLSTM_fineclass.txt
f1_bilstm_coase: src/biLSTM_Utilities/f1_biLSTM_COASE.txt
loss_bilstm_coase: src/biLSTM_Utilities/loss_biLSTM_COASE.txt
loss_bilstm_fine:src/biLSTM_Utilities/loss_biLSTM_fineclass.txt
